.App_LoginScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: scale();
  margin-top: 25%;
}

.App_AuthorizationPass {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: scale();
}
